<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-nuevoapi">
  <template>
    <!-- se agrega la importación de la libreria de BootStrap para utilizar los estilos -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <!--div class="text-uppercase" style="background-color:red;"-->
    <div class="jumbotron text-center" style="background-color:#1abc9c">

      <h2>Hello [[prop1]]!</h2>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiNuevoApi extends Polymer.Element {
      static get is() { return 'mi-nuevoapi'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-nuevoapi'
          }
        };
      }
    }

    window.customElements.define(MiNuevoApi.is, MiNuevoApi);
  </script>
</dom-module>
