<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="apitavo-app">
  <template>
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.bbva.com/wp-content/themes/coronita-bbvacom/assets/css/bbva_com.css?ver=7.4.0">
    
    <style>
      /*:host {
        display: block;
      } */
      body {
        font: 20px Montserrat, sans-serif;
        line-height: 1.8;
        color: #f5f6f7;
      }
      p {font-size: 16px;}
        .margin {margin-bottom: 45px;}
        .bg-1 {
        background-color: #1abc9c; /* Green */
        color: #ffffff;
      }
      .bg-2 {
        background-color: #474e5d; /* Dark Blue */
        color: #ffffff;
      }
      .bg-3 {
        background-color: #ffffff; /* White */
        color: #555555;
      }
      .bg-4 {
        background-color: #2f2f2f; /* Black Gray */
        color: #fff;
      }
      .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
      }
      .navbar-nav  li a:hover {
        color: #1abc9c !important;
      }
    </style>
    <!--table class=wrapper style="WIDTH: 100%; BORDER-COLLAPSE: collapse; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-SPACING: 0; MARGIN: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #ececec" cellSpacing=0 cellPadding=0 align=center border=0>
      <tbody>
        <tr>
          <td style="BORDER-COLLAPSE: collapse; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-SPACING: 0; PADDING-RIGHT: 0px">
            <center style="MAX-WIDTH: 692px; WIDTH: 100%; PADDING-BOTTOM: 0px; -MS-TEXT-SIZE-ADJUST: 100%; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px auto; PADDING-RIGHT: 0px; -webkit-text-size-adjust: 100%">
              <table class=main style="BOX-SIZING: border-box; MAX-WIDTH: 692px !important; WIDTH: 100%; BORDER-COLLAPSE: collapse; MIN-WIDTH: 100%; TABLE-LAYOUT: fixed; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-SPACING: 0; MARGIN: 0px auto; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #ffffff" cellSpacing=0 cellPadding=0 align=center border=0>
                <TR>
                      <TD style="FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; FONT-WEIGHT: bold !important; COLOR: #969696; TEXT-ALIGN: center; BORDER-SPACING: 0; MARGIN: 0px auto">
                        <font style="FONT-SIZE: 12px; TEXT-DECORATION: underline; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: bold !important; COLOR: #969696; TEXT-ALIGN: center; MARGIN: 0px auto">
                          <B>
                            <a style="COLOR: #636363" href="http://t.news.avianca.com/r/?id=hafadf96,a0cae36,a0e9aae&p1=%40vuU1Vs4M0%2B6%2FEiUoURy%2FaXW3M4joAqaQqAQFuVhRNNY%3D" target="_blank">Si no puedes ver este mail, clic aquí</A>
                          </B>
                        </font>
                      </TD>
                </TR>
                <TR>
                  <TD style="FONT-SIZE: 0px !important; HEIGHT: 15px !important; WIDTH: 100%; BORDER-COLLAPSE: collapse; COLOR: transparent !important; BORDER-SPACING: 0; LINE-HEIGHT: 0 !important">&nbsp;
                    <TABLE style="WIDTH: 100% !important; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed; BORDER-SPACING: 0; BACKGROUND-COLOR: #d10801" cellSpacing=0 cellPadding=0 width="100%" bgColor=#d10801 border=0>
                    <TBODY>
                      <TR>
                        <TD style="FONT-SIZE: 0px !important; HEIGHT: 15px !important; WIDTH: 100%; BORDER-COLLAPSE: collapse; COLOR: transparent !important; BORDER-SPACING: 0; LINE-HEIGHT: 15px !important">&nbsp;

                        </TD>
                      </TR>
                    </BODY>
                  </TD>
                </TR>
                <h1>Hello [[prop1]]!</h1-->
                <!--div style="background-color:#474e5d"><h1>Hello [[prop1]]!</h1></div-->
              <!--/table>
            </center>
          </td>
        </tr>
      </tbody>
    </table-->
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mi ConsultApp</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Entrar</a></li>
            <li><a href="#">Contenido</a></li>
            <li><a href="#">Saldos</a></li>
            <p><a class="btn btn-default bntDownload" href="https://www.bbva.com/wp-content/uploads/2016/10/20190206-USA-Patriot-Act-Certification.pdf" target="_blank" rel="noopener">Descargar PDF</a></p>
                        </section>
          </ul>
        </div>
      </div>
    </nav>
      <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Who Am I?</h3>
        <img src="https://www.w3schools.com/Bootstrap/bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
        <h3>Mi aguilaap</h3>
      </div>
      <div class="container-fluid bg-2 text-center">
          <h3 class="margin">What Am I?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <a href="#" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-search"></span> Search
          </a>
      </div>
      <div class="container-fluid bg-3 text-center">
  <h3 class="margin">Where To Find Me?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>
  </body>
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p>
  </footer>

    <!--div class="jumbotron text-center"-->
    <!--div class="text-center">
      <div class="table" style="BOX-SIZING: border-box; MAX-WIDTH: 692px !important; WIDTH: 100%; BORDER-COLLAPSE: collapse; MIN-WIDTH: 100%; TABLE-LAYOUT: fixed; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-SPACING: 0; MARGIN: 0px auto; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #ffffff"
            cellSpacing=0 cellPadding=0 align=center border=0>
        <div class="row row-no-gutters">
          <div class="col-lg-4" style="background-color:#474e5d"><h1>Hello [[prop1]]!</h1></div-->
          <!--h1>Hello [[prop1]]!</h1-->
          <!--div class="col-lg-2" style="background-color:#2f2f2f">Hello2 [[prop1]]!</div>
        </div>
      </div>
    </div-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ApitavoApp extends Polymer.Element {
      static get is() { return 'apitavo-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'apitavo-app'
          }
        };
      }
    }

    window.customElements.define(ApitavoApp.is, ApitavoApp);
  </script>
</dom-module>
